<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /local_greeter/

    # Redirect to public folder if request is for root
    RewriteRule ^$ public/ [L]

    # Redirect all requests to index.php if they don't match existing files/directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php?path=$1 [L,QSA]
</IfModule>